{% extends 'base_perfil.html' %}
{% load static %}

{% block body %}
<section class="newsfeed">
    <form class="form-inline my-2 my-lg-0">
                    <input name="search" aria-label="Search" class="form-control mr-sm-2" placeholder="Search Profile" type="search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
    <div class="container-fluid">
        <div class="row">
            <aside class="col-xs-12 col-md-3">
                <div class="profile-box full-width">
                    <div class="profiles-list">
                        <div class="profile-title">
                            <h3>Friends</h3>
                        </div>
                        {% if logged_profile_friends %}
                        {% for profile in logged_profile_friends %}
                        <div class="profile-body">
                            <a href="{% url 'show_profile' profile.id %}">
                                <img alt="Image"
                                     class="img img-responsive img-circle"
                                     src="{% static 'perfil/assets/img/default.png' %}">
                                <div class="name-box">
                                    <h4>{{ profile.name }}</h4>
                                    <span>{{ profile.user.email }}</span>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="profile-body">
                            <div class="name-box">
                                <h4>You have no friends! :( </h4>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </aside>
            <div class="col-xs-12 col-md-6">
                <div class="container img-container">
                    <div id="upload-div"></div>
                    {% if posts %}
                    {% for post in posts %}
                    <div class="container img-container">
                        <div class="post-box full-width">
                            <div class="post-list">
                                <div class="post-body">
                                    <a href="{% url 'show_profile' post.profile.id %}">
                                        <img alt="Image" class="img img-responsive img-circle"
                                             src="{% static 'perfil/assets/img/default.png' %}">
                                        <div class="name-box">
                                            <h4>{{ post.profile.name }}</h4>
                                            <span>{{ post.date }}</span>
                                        </div>
                                    </a>
                                    {% if post in logged_profile.posts.all %}
                                    <a onclick="return confirm('Are you sure you want to delete this item?')"
                                       href="{% url 'delete_post' post.id %}"><i class="fa fa-remove"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="img-div">
                            <div class="panel-body">
                                <p>{{ post.content }}</p>
                            </div>
                            <div class="footer">
                                <a href="#"><i class="fa fa-heart-o"></i></a>
                                <a href="#"><i class="fa fa-comment-o"></i></a>
                            </div>
                            <div class="more-section">
                                <label>10 Likes</label>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="img-div">
                        <strong><h1 align="center">Nothink to show</h1></strong>
                    </div>
                    {% endif %}
                </div>
            </div>
            <aside class="col-xs-12 col-md-3">
                <div class="profile-box full-width">
                    <div class="profiles-list">
                        <div class="profile-title">
                            <h3>Suggestions</h3>
                        </div>
                        {% if suggested_profiles %}
                        {% for profile in suggested_profiles %}
                        <div class="profile-body">
                            <a href="{% url 'show_profile' profile.id %}">
                                <img alt="Image"
                                     class="img img-responsive img-circle"
                                     src="{% static 'perfil/assets/img/17.jpeg' %}">
                                <div class="name-box">
                                    <h4>{{ profile.name }}</h4>
                                    <span>{{ profile.user.email }}</span>
                                </div>
                            </a>
                            <span><a href="{% url 'invite' profile.id %}"><i class="fa fa-plus"></i></a></span>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="profile-body">
                            <div class="name-box">
                                <h4>No suggestions</h4>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="profile-box full-width">
                    <div class="profiles-list">
                        <div class="profile-title">
                            <h3>Submitted requests</h3>
                        </div>
                        {% if sent_invitations %}
                        {% for invitation in sent_invitations %}
                        <div class="profile-body">
                            <a href="{% url 'show_profile' invitation.guest.id %}">
                                <img alt="Image"
                                     class="img img-responsive img-circle"
                                     src="{% static 'perfil/assets/img/17.jpeg' %}">
                                <div class="name-box">
                                    <h4>{{ invitation.guest.name }}</h4>
                                    <span>{{ invitation.guest.user.email }}</span>
                                </div>
                            </a>
                            <span><a href="{% url 'cancel_invitation' invitation.id %}"><i class="fa fa-minus"></i></a></span>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="profile-body">
                            <div class="name-box">
                                <h4>No requests sent</h4>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="profile-box full-width">
                    <div class="profiles-list">
                        <div class="profile-title">
                            <h3>Requests received</h3>
                        </div>
                        {% if received_invitations %}
                        {% for invitation in received_invitations %}
                        <div class="profile-body">
                            <a href="{% url 'show_profile' invitation.inviter.id %}">
                                <img alt="Image"
                                     class="img img-responsive img-circle"
                                     src="{% static 'perfil/assets/img/17.jpeg' %}">
                                <div class="name-box">
                                    <h4>{{ invitation.inviter.name }}</h4>
                                    <span>{{ invitation.inviter.user.email }}</span>
                                </div>
                            </a>
                            <span><a href="{% url 'decline' invitation.id %}"><i class="fa fa-remove"></i></a></span>
                            <span><a href="{% url 'accept' invitation.id %}"><i class="fa fa-check"></i></a></span>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="profile-body">
                            <div class="name-box">
                                <h4>No requests received</h4>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </aside>
        </div>
    </div>

</section>

{% endblock %}