{% extends 'base_perfil.html' %}
{% load static %}
{% load i18n %}

{% block body %}
<section class="newsfeed">
    <form class="form-inline my-2 my-lg-0 text-center">
        <input name="search" aria-label="Search" class="form-control mr-sm-2" placeholder="{% trans 'Search Profile' %}" type="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{% trans 'Search' %}</button>
    </form>
    <div class="container-fluid">
        <div class="row">
            <aside class="col-xs-12 col-md-3">
                <div class="profile-box full-width">
                    <div class="profile-title">
                        <h3>{% trans 'Friends' %}</h3>
                    </div>
                    <div class="profiles-list" style="overflow-y:scroll;">

                        {% if logged_profile_friends %}
                        {% for profile in logged_profile_friends %}
                        <div class="profile-body">
                            <a href="{% url 'show_profile' profile.id %}">
                                <img alt="Image"
                                     class="img img-responsive img-circle"
                                     src="{% static 'perfil/assets/img/profile.png' %}">
                                <div class="name-box">
                                    <h4>{{ profile.name }}</h4>
                                    <span>{{ profile.user.email }}</span>
                                </div>
                            </a>
                            <span><a href="{% url 'undo_friendship' profile.id %}">
                                    <i class="fa fa-minus"></i>
                            </a></span>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="profile-body">
                            <div class="name-box">
                                <h4>{% trans 'You have no friends! :( ' %}</h4>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </aside>
            <div class="col-xs-12 col-md-6">
                {% include 'posts.html' with posts=posts %}
                {% include 'feedback.html' with messages=messages %}
            </div>
            <aside class="col-xs-12 col-md-3">

                <div class="profile-box full-width" >
                    <div class="profile-title" >
                        <h3>{% trans 'Suggestions' %}</h3>

                    </div>

                    <div class="profiles-list" style="overflow-y:scroll;" >

                        {% if suggested_profiles %}
                        {% for profile in suggested_profiles %}

                        <div class="profile-body" >
                            <a href="{% url 'show_profile' profile.id %}">
                                <img alt="Image"
                                     class="img img-responsive img-circle"
                                     src="{% static 'perfil/assets/img/17.jpeg' %}">
                                <div class="name-box">
                                    <h4>{{ profile.name }}</h4>
                                    <span>{{ profile.user.email }}</span>
                                </div>
                            </a>
                            <span><a href="{% url 'invite' profile.id %}"><i class="fa fa-plus"></i></a></span>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="profile-body">
                            <div class="name-box">
                                <h4>{% trans 'No suggestions' %}</h4>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="profile-box full-width">
                    <div class="profile-title">
                            <h3>{% trans 'Submitted requests' %}</h3>
                        </div>
                    <div class="profiles-list" style="overflow-y:scroll;">

                        {% if sent_invitations %}
                        {% for invitation in sent_invitations %}
                        <div class="profile-body" >
                            <a href="{% url 'show_profile' invitation.guest.id %}">
                                <img alt="Image"
                                     class="img img-responsive img-circle"
                                     src="{% static 'perfil/assets/img/17.jpeg' %}">
                                <div class="name-box">
                                    <h4>{{ invitation.guest.name }}</h4>
                                    <span>{{ invitation.guest.user.email }}</span>
                                </div>
                            </a>
                            <span><a href="{% url 'cancel_invitation' invitation.id %}"><i class="fa fa-minus"></i></a></span>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="profile-body">
                            <div class="name-box">
                                <h4>{% trans 'No requests sent' %}</h4>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="profile-box full-width">
                    <div class="profile-title">
                        <h3>{% trans 'Requests received' %}</h3>
                    </div>
                    <div class="profiles-list" style="overflow-y:scroll;">

                        {% if received_invitations %}
                        {% for invitation in received_invitations %}
                        <div class="profile-body">
                            <a href="{% url 'show_profile' invitation.inviter.id %}">
                                <img alt="Image"
                                     class="img img-responsive img-circle"
                                     src="{% static 'perfil/assets/img/17.jpeg' %}">
                                <div class="name-box">
                                    <h4>{{ invitation.inviter.name }}</h4>
                                    <span>{{ invitation.inviter.user.email }}</span>
                                </div>
                            </a>
                            <span><a href="{% url 'decline' invitation.id %}"><i class="fa fa-remove"></i></a></span>
                            <span><a href="{% url 'accept' invitation.id %}"><i class="fa fa-check"></i></a></span>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="profile-body">
                            <div class="name-box">
                                <h4>{% trans 'No requests received' %}</h4>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>

{% endblock %}