{% extends 'base_perfil.html' %}
{% block body %}
    <h1 align="center">My profile</h1>
    <ul>
        <li>Name: {{loged_profile.name}}</li>
    </ul>
    <strong><a href="{% url 'change_password' %}">Change password</a></strong><br>

    <strong>Friendships invitations</strong>
    {% if loged_profile.received_invitations.count %}
        {% for invitation in loged_profile.received_invitations.all %}
            <ul>
                <li>{{invitation.inviter.name}} <a href="{% url 'accept' invitation.id %}">Accept</a>
                <a href="{% url 'decline' invitation.id %}">Reject</a></li>
            </ul>
        {% endfor %}

    {% else %}

    <p>There is no invitation</p>

    {% endif %}


    <h1>Friends</h1>
    {% with quant_friends=loged_profile.friends.count %}
        {% if quant_friends %}
            <strong>You have {{quant_friends}} Friend{{ quan_friends|pluralize }}</strong>
            <ul>
                {% for friend in loged_profile.friends.all %}
                <a href="{% url 'show_profile' friend.id %}">{{friend.name}}</a>
                {% endfor %}
            </ul>
        {% else %}
            <strong>You do not have friends</strong>
        {% endif %}
    {% endwith %}
    <br>
    {% if loged_profile.is_superuser %}
    <strong>You are a super user. </strong>
    <a href="{% url 'give_up_superuser' %}">Stop being</a>
    {% else %}
    <strong>You are not a super user</strong>
    {% endif %}



{% endblock %}