{% extends 'base_perfil.html' %}
{% load static %}
{% block body %}

<div class="container-fluid text-center bg-grey">
    <div class="row text-left" style="padding-top:20px">
        <div class="col-sm-3">
            <!-- Informaçoes do perfil -->
            <div class="well profile col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
				<div class="profile-userpic">
                    <img class="img-circle" height="100px"
                         src="{% static 'perfil/assets/img/profile.png' %}"
                         style="border: 2px solid #ff9900;">
				</div>
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						<strong style="color:#ff9900;font-size:16px;">{{logged_profile.name}}</strong>
					</div>
					<div class="profile-usertitle-job">
						{{logged_profile.user.email}}
					</div>
				</div>
                <br>
				<div class="profile-usermenu">
					<ul class="nav">
						<li>
							<a href="{% url 'change_password' %}">
							<i class="glyphicon glyphicon-user"></i>
							Change password</a>
						</li>
                        <li>
							<a href="{% url 'disable_profile' %}">
							<i class="glyphicon glyphicon-user"></i>
							Disable Profile</a>
						</li>
						<li>
                            {% if logged_profile.is_superuser %}
							<a href="{% url 'give_up_superuser' %}">
							<i class="glyphicon glyphicon-remove"></i>
                                Stop being superuser </a>
                            {% else %}
                            <a target="_blank">
                                <i class="glyphicon glyphicon-remove"></i>
                                You are not a super user </a>
                            {% endif %}
						</li>
						<li>
					</ul>
				</div>
			</div>
            <!-- Amigos -->
            <div class="profile-box full-width" style="margin-bottom: 20px;">
                <div class="profile-title">
                    <h3>Friends</h3>
                </div>
                <div class="profiles-list" style="overflow-y:scroll;">
                    {% if friends_list %}
                    {% for profile in friends_list %}
                    <div class="profile-body">
                        <a href="{% url 'show_profile' profile.id %}">
                            <img alt="Image"
                                 class="img img-responsive img-circle"
                                 src="{% static 'perfil/assets/img/profile.png' %}">
                            <div class="name-box" style="overflow: unset;">
                                <h4>{{ profile.name }}</h4>
                                <span>{{ profile.user.email }}</span>
                            </div>
                        </a>
                        <span><a href="{% url 'undo_friendship' profile.id %}">
                            <i class="fa fa-minus"></i>
                        </a></span>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="profile-body">
                        <div class="name-box">
                            <h4>You have no friends! :( </h4>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% if logged_profile.is_superuser %}
            <div class="profile-box full-width" style="margin-bottom: 20px;">
                <div class="profile-title">
                    <h3>All Profiles</h3>
                </div>
                <div class="profiles-list" style="overflow-y:scroll;">
                    {% if all_profiles %}
                    {% for profile in all_profiles %}
                    <div class="profile-body">
                        <a href="{% url 'show_profile' profile.id %}">
                            <img alt="Image"
                                 class="img img-responsive img-circle"
                                 src="{% static 'perfil/assets/img/profile.png' %}">
                            <div class="name-box" style="overflow: unset;">
                                <h4>{{ profile.name }}</h4>
                                <span>{{ profile.user.email }}</span>
                            </div>
                        </a>

                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="profile-body">
                        <div class="name-box">
                            <h4>No profile to show! </h4>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}

        </div>
        <div class="col-sm-6">
            {% include 'posts.html' with posts=posts %}
        </div>
        <div class="col-sm-3">
            <!-- Perfis bloqueados -->
            <div class="profile-box full-width" style="margin-bottom: 20px;">
                <div class="profile-title">
                    <h3>Blocked</h3>
                </div>
                <div class="profiles-list" style="overflow-y:scroll;">
                    {% if blocked_list %}
                    {% for profile in blocked_list %}
                    <div class="profile-body">
                        <a href="{% url 'show_profile' profile.id %}">
                            <img alt="Image"
                                 class="img img-responsive img-circle"
                                 src="{% static 'perfil/assets/img/profile.png' %}">
                            <div class="name-box">
                                <h4>{{ profile.name }}</h4>
                                <span>{{ profile.user.email }}</span>
                            </div>
                        </a>
                        <span><a href="{% url 'unblock_user' profile.id %}"><i class="fa fa-minus"></i></a></span>

                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="profile-body">
                        <div class="name-box">
                            <h4>No blocked profiles </h4>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}