{% extends 'base_perfil.html' %}
{% block body %}
    <h1 align="center">Informações do Meu perfil</h1>
    <ul>
        <li>Nome: {{perfil_logado.nome}}</li>
    </ul>

    <strong>Convites de amizade</strong>
    {% if perfil_logado.convites_recebidos.count %}
        {% for convite in perfil_logado.convites_recebidos.all %}

            <ul>
                <li>{{convite.solicitante.nome}} <a href="{% url 'aceitar' convite.id %}">Aceitar</a></li>
            </ul>

        {% endfor %}

    {% else %}

    <p>Não há nenhum convite</p>

    {% endif %}


    <h1>Amigos</h1>
    {% with total_de_amigos=perfil_logado.amigos.count %}
        {% if total_de_amigos %}
            <strong>Você tem {{total_de_amigos}} amigo{{ total_de_amigos|pluralize }}</strong>
            <ul>
                {% for amigo in perfil_logado.amigos.all %}
                <a href="{% url 'exibir' amigo.id %}">{{amigo.nome}}</a>
                {% endfor %}
            </ul>
        {% else %}
            <strong>Você não possui amigos</strong>
        {% endif %}
    {% endwith %}




{% endblock %}