{% extends 'base_perfil.html' %}
{% load static %}
{% block body %}

<div class="container-fluid text-center bg-grey">
    <div class="row text-center">
        <div class="col-sm-4">
            <h2>Profile Information</h2><br>

            <div class="well profile col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color:#ffff">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
                    <img class="img-circle" height="100px"
                         src="{% static 'perfil/assets/img/default.png' %}"
                         style="border: 2px solid #ff9900;">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{profile.name}}
					</div>
					<div class="profile-usertitle-job">
						{{profile.user.email}}
					</div>
				</div>
                <br>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
                    {% if is_friend %}
                    <a href="{% url 'undo_friendship' profile.id %}">
                        <button type="button" class="btn btn-danger btn-sm">Undo friendship</button></a>
                    {% elif is_guest %}
                    <a href="{% url 'cancel_invitation' invitation.id %}">
					<button type="button" class="btn btn-danger btn-sm">Cancel invitation</button></a>
                    {% elif is_inviter %}
                    <a href="{% url 'accept' invitation.id %}">
                        <button type="button" class="btn btn-success btn-sm">Accept</button></a>
                    <a href="{% url 'decline' invitation.id %}">
                        <button type="button" class="btn btn-danger btn-sm">Reject</button></a>
                    {% else %}
                    {% if not profile in logged_profile.blocked.all %}
                    <a href="{% url 'invite' profile.id %}">
                        <button type="button" class="btn btn-success btn-sm">Invite</button></a>
                    {% endif %}
                    {% endif %}
                    {% if profile in logged_profile.blocked.all %}
                    <a href="{% url 'unblock_user' profile.id %}">
                        <button type="button" class="btn btn-success btn-sm">Unblock User</button>
                    </a>
                    {% else %}
                    <a href="{% url 'block_user' profile.id %}">
                        <button type="button" class="btn btn-danger btn-sm">Block User</button>
                    </a>
                    {% endif %}
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="#">
							<i class="glyphicon glyphicon-home"></i>
							Overview </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-user"></i>
							Account Settings </a>
						</li>
						<li>
                            {% if profile.is_superuser %}
							<a target="_blank">
							<i class="glyphicon glyphicon-ok"></i>
                                This profile is a super user </a>
                            {% elif logged_profile.is_superuser %}
                            <a href="{% url 'make_superuser' profile.id %}" target="_blank">
                                <i class="glyphicon glyphicon-ok"></i>
                                Make him a super user </a>
                            {% else %}
                            <a target="_blank">
                                <i class="glyphicon glyphicon-remove"></i>
                                This profile is not a super user </a>
                            {% endif %}
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-flag"></i>
							Help </a>
						</li>
					</ul>
				</div>
			</div>
        </div>
        <div class="col-sm-6">
            <h3>Posts</h3>
            <div class="container img-container">
                <div id="upload-div"></div>
                {% if profile.posts.all %}
                {% for post in profile.posts.all %}
                <div class="container img-container">
                    <div class="post-box full-width">
                        <div class="post-list">
                            <div class="post-body">
                                <a href="{% url 'show_profile' post.profile.id %}">
                                    <img alt="Image" class="img img-responsive img-circle"
                                         src="{% static 'perfil/assets/img/default.png' %}">
                                    <div class="name-box">
                                        <h4>{{ post.profile.name }}</h4>
                                        <span>{{ post.date }}</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="img-div">
                        <div class="panel-body">
                            <p>{{ post.content }}</p>
                        </div>
                        <div class="footer">
                            <a href="#"><i class="fa fa-heart-o"></i></a>
                            <a href="#"><i class="fa fa-comment-o"></i></a>
                        </div>
                        <div class="more-section">
                            <label>10 Likes</label>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="img-div">
                    <strong><h1 align="center">Nothink to show</h1></strong>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}