{% extends "base_usuario.html" %}
{% load static %}
{% block body %}

<div class="form">
    {% csrf_token %}
    <div class="illustration"><img src="{% static 'usuarios/assets/img/logo.png' %}"></div>
    <h2 class="vvzhL ">Your profile is turned off, Do you want to enable?</h2>

    <a href="{% url 'enable' user.id %}">
        <button class="btn btn-warning btn-block" >Enable</button>
    </a>

    <a href="{% url 'login' %}">
        <button class="btn btn-warning btn-block" >Cancel</button>
    </a>

</div>



{% endblock %}