{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WTFnews</title>
    <link rel="stylesheet" href="{% static 'usuarios/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'usuarios/assets/css/Login-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'usuarios/assets/css/styles.css' %}">
</head>

<body>
    <div class="login-clean">
        {% block body %}
        {% endblock %}
    </div>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>
