{% extends 'base_perfil.html' %}
{% block body %}
<form action="{% url 'change_password' %}" method="post">
    {% csrf_token %}

    <div class="form-group">
        <input class="form-control" id="id_name" type="password" name="old_password" placeholder="Old password" autofocus required>
    </div>
    <div class="form-group">
        <input class="form-control" id="id_email" type="password" name="new_password" placeholder="New password" required>
    </div>
    <div class="form-group">
        <input class="form-control" id="id_password" type="password" name="co_new_password" placeholder="Co Password" required>
    </div>
    <div class="form-group">
        <button class="btn btn-warning btn-block" type="submit">Change password</button>
    </div>

    {% if form.errors %}
	<div class="alert alert-danger">
		<button type="button" class="close"
				data-dismiss="alert" aria-hidden="true">
		</button>
		{{ form.non_field_errors }}
	</div>
	{% endif %}

</form>
{% endblock %}