{% extends 'base_perfil.html' %}
{% block body %}

<div class="login-clean">


    <form action="{% url 'change_password' %}" method="post">
        {% csrf_token %}

        {% for field in form %}
        <div class="form-group">
            {{ field }}
        </div>
        {% endfor %}

        <div class="form-group">
            <button class="btn btn-warning btn-block" type="submit">Change password</button>
        </div>

        {% if form.errors %}
        <div class="alert alert-danger">
            {% for field in form %}
            {% for error in field.errors %}
            <li>{{ error|escape }}</li>
            {% endfor %}
            {% endfor %}
            {{ form.non_field_errors }}
        </div>
        {% endif %}

    </form>
</div>
{% endblock %}