{% extends 'base_usuario.html' %}
{% load static %}
{% block body %}

<form method="POST">
    {% csrf_token %}
    <div class="illustration"><img src="{% static 'usuarios/assets/img/logo.png' %}"></div>
    {% for field in form %}
    <div class="form-group">
        <label>{{ field.label_tag }}</label>
        {{ field }}
        {% if field.help_text %}
        <span class="help-block">{{ field.errors }}</span>
        {% endif %}
    </div>
    {{ field.errors }}
    {% endfor %}
    <button class="btn btn-warning btn-block" type="submit">Reset Password</button>

</form>

{% endblock %}