{% extends "base_usuario.html" %}
{% load static %}
{% block body %}

<form class="form" action="{% url 'signup' %}" method="post">
    {% csrf_token %}
    <div class="illustration"><img src="{% static 'usuarios/assets/img/logo.png' %}"></div>
    <h2 class="vvzhL ">Sign up to see photos and videos from your friends.</h2>
    <div class="form-group">
        <input class="form-control" id="id_name" type="text" name="name" placeholder="Username" autofocus required>
    </div>
    <div class="form-group">
        <input class="form-control" id="id_email" type="email" name="email" placeholder="Email" required>
    </div>
    <div class="form-group">
        <input class="form-control" id="id_password" type="password" name="password" placeholder="Password" required>
    </div>
    <div class="form-group">
        <button class="btn btn-warning btn-block" type="submit">Create Account</button>
    </div>

    {% if form.errors %}
	<div class="alert alert-danger">
		<button type="button" class="close"
				data-dismiss="alert" aria-hidden="true">
		</button>
		{{ form.non_field_errors }}
	</div>
	{% endif %}

    <a href="{% url 'login' %}" class="forgot">Already got an account? Login here ...</a>
</form>

{% endblock %}