{% load static %}
{% load i18n %}

<div class="container img-container">
    <div id="upload-div"></div>
    {% if profile.is_private and profile not in logged_profile.friends.all %}
    <div class="img-div" style="margin-top:50px;">
        <strong><h1 align="center">{% trans 'This profile is private.' %}</h1></strong>
    </div>
    {% elif posts %}
    {% for post in posts %}
    <div class="container img-container">
        <div class="post-box full-width">
            <div class="post-list">
                <div class="post-body">
                    <a href="{% url 'show_profile' post.profile.id %}">
                        <img alt="Image" class="img img-responsive img-circle"
                             src="{% static 'perfil/assets/img/profile.png' %}">
                        <div class="name-box">
                            <h4>{{ post.profile.name }}</h4>
                            <span>{{ post.date }}</span>
                        </div>
                    </a>
                    {% if post.profile == request.user.profile or request.user.is_superuser %}
                    <a onclick="return confirm('{% trans 'Are you sure you want to delete this item?' %}'   )"
                       href="{% url 'delete_post' post.id %}"><i class="fa fa-remove"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>

            {% if post.content %}
            <div class="panel-body" style="background-color: #fff; border-left: 1px solid #e8e6e6; border-right: 1px solid #e8e6e6;" >
                <p>{{ post.content }}</p>
                {% if post.shared_post %}
        <div class="container img-container">
            <div class="post-box full-width">
                <div class="post-list">
                    <div class="post-body">
                        <a href="{% url 'show_profile' post.shared_post.profile.id %}">
                            <img alt="Image" class="img img-responsive img-circle"
                                 src="{% static 'perfil/assets/img/profile.png' %}">
                            <div class="name-box">
                                <h4>{{ post.shared_post.profile.name }}</h4>
                                <span>{{ post.shared_post.date }}</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="img-div">
        {% if post.shared_post.content %}
        <div class="panel-body">
            <p>{{ post.shared_post.content }}</p>
        </div>
        {% endif %}
        {% if post.shared_post.photo %}
        <img class="img-fluid" src="{{ post.shared_post.photo.cdn_url }}-/crop/600x600/center/-/quality/lightest/"
             alt="">
        {% endif %}
            </div>
        </div>

        {% endif %}
            </div>
            {% endif %}
        {% if post.photo %}
        <div class="img-div">
            <img class="img-fluid" src="{{ post.photo.cdn_url }}-/crop/600x600/center/-/quality/lightest/" alt="">
        </div>
        {% endif %}

        <div class="img-div">
            <div class="footer">
                <a href="#"><i class="fa fa-heart-o"></i></a>
                <a href="{% url 'comment' post.id %}"><i class="fa fa-comment-o"></i></a>
                <a href="{% url 'share' post.id %}"><i class="fa fa-share"></i></a>
            </div>
            <div class="more-section">
                <label>{{post.comments.count}} {% trans 'Comments' %}</label>
                {% if post.comments %}
                {% for commentary in post.comments.all %}
                <p><strong>{{commentary.profile.name}} </strong>{{commentary.message}}</p>
                {% endfor %}
                {% endif %}
            </div>
        </div>

    </div>
    {% endfor %}
    {% include 'pagination.html' with posts=posts %}
    {% else %}
    <div class="img-div" style="margin-top:50px;">
        <strong><h1 align="center">{% trans 'Nothing to show' %}</h1></strong>
    </div>
    {% endif %}
</div>